/*Header*/

/*Footer*/

.footer-menu {
	position: relative;
	z-index: 3;
}

.footer-bottom {
	padding: 50px 0;
	border-bottom: 1px solid #f2f2f3
}

.footer-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
}

.footernavi-item {
	display: inline-block;
}

.footernavi-item .footerBtn {
	padding: 12px 22px;
	display: block;
	transition: all 0.3s;
	background-color: #fff;	
	border: 0;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
}

.footernavi-item:hover .footerBtn {
	border-radius: 30px;
	background-color: rgb(115, 98, 222);
	color: white;
	font-weight: bold;
}
/*
.footer-menu li.active a {
	color: #756edc
}*/

.footer-menu span a:hover {
	display: inline-block;
	background: #6e45e2;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px;
	padding: 18px 35px 16px;
	border-radius: 50px;
}

.dropdown-menu{
	padding-left: 10px;
}

.dropdown-menu a{
	color: black!important;
}

#userImg{
	width: 20px;
	margin-right: 5px;
}

#down-menu{
	padding: 15px;
	font-size: 15px;
	color: black;
	width: 280px;
	height: 100px;
}

#down-left{
	position: absolute;
}

#down-top{
	position: absolute;
	left: 110px;
	top: 30px;
}

#down-bottom{
	position: absolute;
	left: 120px;
	top: 63px;
}

#down-bottom input{
	border: 1px solid gray;
	background-color: #b3b3b8;
	color: #fff;
	padding: 5px 8px;
	border-radius: 7px;
	margin-left: 23px;
}

#down-bottom input:hover{
	background-color: gray;
	color: #fff;
	cursor: pointer;
}

.dropdown-menu.show{
	width: 300px;
	left: -150px;
	box-shadow: 4px 4px 4px gray; 
	border: 1px solid gray;
} 

li.nav-item.dropdown.active::after,
li.nav-item.dropdown.active.show::after{
	display: none!important;
}

#userSquare{
	width: 70px;
}

#profileHR{
	width: 90%;
}

.dropdown-menu a#logout{
	color: gray!important;
}

.dropdown-item.active{
	border: 1px solid black;
	background-color: #f0f0f0;
	width: 95%;
	border-radius: 2em;
	margin-bottom: 5px;
}

.dropdown-item:hover{
	width: 95%;
	background-color: #f0f0f0;
	transition: all 0.3s;
}