@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
[tooltip]:before {
    /* 여긴 건드리지 말 것 */
    content: attr(tooltip);
    position: absolute;
    opacity: 0;
    
    /* 변경가능 */
    transition: all 0.15s ease;
    padding: 10px;
    color: black;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;    
    text-align:center;
    font-size:12pt;
    z-index:3;
}

[tooltip]:hover:before {
    /* 여긴 건드리지 말 것 */
    opacity: 1;
    
    /* 변경가능 */
    background: #fff;
    border:1px solid black;
    margin-top: 40px;
    margin-left: 1px;    
}

#main-location {
    position: relative;
    width: 100%;
    font-family: Noto Sans;
    background: #ebebeb;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* 스터디 소개 전체 영역 */
#main-content-section {
	position:relative;
	width:50%;
	left:25%;
	margin:1%;
	background:#fff;
	font-family: "Noto Sans KR", sans-serif !important;
}

/* 스터디 대표사진 영역 */
#study-photo-section {
	position:relative;
	width:100%;
	text-align:center;
}

#mainPhoto {
	width:100%;
	height:400px;
	background:#fff;
}

/* 스터디 소개 영역 */
#study-content-section {
	position:relative;
	width:100%;
	padding:2% 5% 2% 5%;
}

#content-title {
	text-align:center;
	border-bottom:1px solid rgba(0,0,0,0.2);
	padding-bottom:2%;
}

#study_location {
	font-size:12pt;
	color:rgba(138, 109, 255, 1);
	font-weight:650;
}

#study_name {
	font-size:35pt;
	font-weight:600;
}

#study_info {
	font-size:15pt;
	font-weight:600;
}

#content-detail {
	margin-top:2%;
	padding-bottom:3%;
	border-bottom:1px solid rgba(0,0,0,0.2);
}

#content-detail label {
	position:relative;
	left:45%;
}

#study-detail-section {
	border-bottom:1px solid rgba(0,0,0,0.2);
}

.table-style {
	width:100%;
	border-collapse: separate;
	border-spacing: 0 20px;
	text-align:center;
}

#content-detail pre{
	margin-top:10px;
	width:100%;
	font-size:14pt;
	font-weight:700;
	font-family: "Noto Sans KR", sans-serif !important;
}

#content-book {
	padding-top:2%;
	text-align:center;
	padding-bottom:2%;
}
#content-book p {
	margin-top:10px;
}

/* 스터디 신청영역 */
#fixed-apply-seciton {
	position:fixed;
	top:35%;
	left:80%;
	width:13%;
	height:auto;
	border-radius:5px;
	background:#fff;
}

/* 신청 정보 영역(상단) */
#apply-top-section {
	width:100%;
	height:auto;
	padding:5%;
	text-align:center;
}

/* 신청 영역(하단) */
#apply-bottom-section {
	width:100%;
	height:auto;
	padding:0% 5% 5% 5%;
}

.apply-section {
	position:relative;
	display:inline-block;
	width:100%;
	font-size:15pt;
	font-weight:bolder;
}

#fixed-study-name {
	height:60%;
	border-bottom:1px solid gray;
	padding-bottom:10px;
}

#study-cnt {
	padding-top:10%;
	height:40%;
	text-align:center;
}

#apply-button {
	width:100%;
	height:30px;
	background:rgba(138, 109, 255, 1);
	cursor:pointer;
	font-weight:bolder;
	color:#fff;
	border:none;
}

#link {
	width:20px;
	height:20px;
}

.label-title {
	color:rgba(138, 109, 255, 0.8); 
	font-weight:700;
}

#mainBook_table {
	position:relative;
	width:100%;
}

#mainBook_table td {
	text-align:left;
}

#book_title_td {
	font-size:20pt; 
	font-weight:bold;
	white-space : nowrap;
	text-overflow : ellipsis;
	overflow:hidden;
}
