<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	 <mapper namespace="freefile">
		 	<resultMap type="fileDto" id="fileMap">
		 		<result property="f_no" column="F_NO"></result>
		 		<result property="b_no" column="B_NO"></result>
		 		<result property="f_name" column="F_NAME"></result>
		 		<result property="f_size" column="F_SIZE"></result>
		 		<result property="f_url" column="F_URL"></result>
		 	</resultMap>
	 		
	 			
	 		<insert id="insertFile" parameterType="fileDto">
	 			INSERT INTO FREE_FILE 
				VALUES ( FREEFILESEQ.NEXTVAL, (SELECT MAX(B_NO) FROM FREE_BOARD ), #{f_name}, #{f_size}, #{f_url} )
	 		</insert>
	 		
	 		<select id="selectAttachFileList" parameterType="int" resultMap="fileMap">
	 			SELECT * FROM FREE_FILE WHERE B_NO = #{b_no}
	 		</select>
	 </mapper>