@charset "UTF-8";
.main-section {
	display: block;
	position: relative;
	width: 52.5%;
	margin: 0px auto;
	left:1.5%;
}

#main-contrainer {
	position: relative;
	width: 100%;
	hight: 100%;
	margin: 0px auto;
	margin-top: 5%;
}

#mainleft {
	position: relative;
	float: left;
	width: 50%;
}

#mainright {
	position: relative;
	float: right;
	width: 50%;
	padding-left: 5%;
}

#image-section {
	width: 100%;
	height: 400px;
	text-align:center;
	border: 2px solid #f8f9fa;
}

#studyMainPhoto {
	width:100%;
	height:400px;
}

#mainbottom {
	clear: both;
}

#btndiv {
	text-align: center;
}

input#fileinput {
	margin-top: 6.5%;
}

#createBtn {
	background: #EFF0F2;
	border: 1px solid #EFF0F2;
	border-radius:5px;
	margin-top: 40px;
	width: 400px;
	height: 50px;
	font-size: 20px;
	font-weight: 600;
	text-align:center;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

/* 흰색 버튼에서 hover 시 보라색으로 변경 */
#createBtn:hover {
	background-color: white;
	border: 1px solid #6434ef;
	color: #6434ef;
	cursor: pointer;
	transition: 0.5s;
}


label {
	font-weight: bold;
}

/* 이미지 파일 선택 div */
.fileSelectDiv {
	float:left;
	margin-top:35px;
	margin-right:10px;
	width:100px;
	height:40px;
	font-size:12pt;
	border:1px solid #EFF0F2;
	color:black;
	background:#EFF0F2;
	border-radius: 5px 5px;
	text-align:center;
	padding-top:6px;
	font-weight:bold;
}

.fileSelectDiv:hover {
	background-color: white;
	border: 1px solid #6434ef;
	color: #6434ef;
	cursor: pointer;
	transition: 0.5s;
}

/* 기본 이미지 모달 영역 */
#modal {
	display:none;
	position:absolute;
	width:100%;
	height:1580px;
	background:rgba(0,0,0,0.3);
	left:0%;
	top:0%;
	z-index:100;
	translate:0.5 ease all;
}

#modal-inside {
	position:absolute;
	width:50%;
	height:600px;
	background:#fff;
	left:25%;
	top:40%;
	text-align:center;
	padding-top:1%;
	padding-left:3%;
}

.modal-image {
	float:left;
	width:45%;
	height:230px;
	border:1px solid black;
	margin-top:20px;
	margin-right:20px;
}

.selected {
	border:5px solid #7362DE;
}