@charset "UTF-8";
.img{
	position:relative;		
}
.input-group{
	width: 50%; 
	margin-top:-3.5%;
	margin-left:70%;
}
.img .content{
	 position: absolute;
     top:50%;
     left:50%;
     transform: translate(-50%, -50%);                                                                   
     font-size:50px;
     color: white;
     z-index: 2;
     text-align: center;
     font-weight:bold;
	
}

.pagin {
	list-style: none;
	float: left;
	display: inline;
	clear: right;
	margin-left:40%;
}

.page_li {
	float: left;
	color: black;
}

.page_a {
	float: left;
	padding: 4px;
	padding-top: 10px;
	margin-right: 3px;
	width: 40px;
	height: 40px;
	color: black;
	font-weight: bold;
	border: 1px solid #dee2e6;
	text-align: center;
	text-decoration: none;
}

.page_a:hover {
	transition: 0.3s;
	border: 2px solid #6434ef;
	/* background-color: #6434ef; */
	cursor: pointer;
}
#si{
	position:left;
	margin-left:-30%;
}
#gu{
	margin-top:-7.2%;
	margin-bottom:-5%;
	margin-left:15%;
}
#title{
	text-align:center;
}
#selectLocationSi{
	width:500px;
	height:50px;	
}
#selectLocationGu{
	width:500px;
	height:50px;
	margin-left:45%;
	top:1%;
}
#mainsection{
	margin-left:40%;
}
/* #Search{
	margin-left:45%;
	margin-bottom:-3%;
	margin-top:-5%;
} */
button[type=submit]{
	box-shadow:none;
	background:none;
	padding:0;
}
.studyBtn{
	float: right;
	margin-top : 15px;
	background-color: #EFF0F2;
	border: 1px solid #EFF0F2;
	width: 8%;
	height: 50px;
	font-size: 15px;
	padding: 1%;
	
	border-radius: 10px 10px;
	color: black;
	font-weight: bold;
	margin-left: 1%;
}
.blogpost-area{
	padding:100px 0;
	background:white;
	margin-right:3%;
}
.input-group .Search{
	margin-top:1.5%;
}
.studyBtn:hover{
	background-color: white;
	border: 1px solid #6434ef;
	font-weight:bold;
	color: #6434ef;
	cursor: pointer;
	transition: 0.5s;


}