@charset "UTF-8";
#Boardlist tr:first-child{
	text-align:center;
	border-top:1px solid black;
	font-size:11pt;
	background:rgb(0,0,0,0.02);
}

#Boardlist tr {
	border-bottom:0.5px solid rgba(0,0,0,0.1);
	height:50px;
}

.text1{
	color: #6434ef;
	font-weight: bold;
}

/* 페이징 css  */
.pagination {
	margin-left: 35%;
}

.pagin {
	list-style: none;
	float: left;
	display: inline;
	clear: right;
	margin-left: 30%;
}

.page_li {
	float: left;
	color: black;
}

.page_a {
	float: left;
	padding: 4px;
	padding-top: 10px;
	margin-right: 3px;
	width: 40px;
	height: 40px;
	color: pink;
	font-weight: bold;
	border: 1px solid #dee2e6;
	text-align: center;
	text-decoration: none;
}

.page_a:hover {
	transition: 0.3s;
	border: 2px solid #6434ef;
	/* background-color: #6434ef; */
	cursor: pointer;
}

.next_page {
	float: left;
	padding: 4px;
	padding-top: 10px;
	margin-right: 3px;
	width: 40px;
	height: 40px;
	color: pink;
	font-weight: bold;
	border: 1px solid #dee2e6;
	text-align: center;
	text-decoration: none;
}

.next_page:hover {
	cursor: pointer;
}

.pagin_div {
	margin-top: 25px;
}

.current_page {
	color: white;
	background-color: #6434ef;
}

.writeBtn {
	margin-right: 10%;
	float: right;
	margin-top : 15px;
	background-color: #EFF0F2;
	border: 1px solid #EFF0F2;
	width: 8%;
	height: 50px;
	font-size: 15px;
	padding: 1%;
	
	border-radius: 10px 10px;
	color: black;
	font-weight: bold;
	margin-left: 1%;
}

.writeBtn:hover {
	background-color: white;
	border: 1px solid #6434ef;
	font-weight:bold;
	color: #6434ef;
	cursor: pointer;
	transition: 0.5s;
}

/* 검색 */
.search_div{
	width: 100%;	

	padding-right: 22%;
	padding-left: 20%;
}
.search_btn{
	height: 34px;
	width: 100px;
	margin-left: 10px;
	background-color: #EFF0F2;
	border: 1px solid #EFF0F2;
	font-weight: bold;
}
.search_btn:hover{
	background-color: white;
	border: 1px solid #6434ef;
	font-weight:bold;
	color: #6434ef;
	cursor: pointer;
	transition: 0.5s;

}

.search_content_box{
	width:400px; height: 34px;
	border-radius: 5px 5px;
	border: 0.1px black solid;
	margin-left: 10px;
}
.search_type_box{
	height: 34px;
	text-align: center;
	border-radius: 5px 5px;
	border: 0.1px black solid;
}

.data_tr {
	text-align:center;
}

.td_data_title {
	text-align:left;
	padding-left:10px;
}

.td_reply_cnt {
	font-weight:bold;
	color:red;
}

/* 첨부파일 영역 */
.attach_file_img {
	width:20px;
	height:20px;
	cursor:pointer;
}

.file_entirety_div {
	display:none;
    position: absolute;
	width: 190px;
    padding:5px;
    border: 1px solid #44465c;
    background-color: #fff;
    border-radius: 5px;
    text-align: left;
    z-index: 3;
    left:59.5%;
}

.file_div {
	cursor:pointer;
	margin-top:5px;
	margin-bottom:5px;
	padding-top:5px;
	padding-bottom:5px;
	border-bottom:0.5px solid rgba(0,0,0,0.15);
}

.file_div:hover {
	background:rgba(0,0,0,0.05);
}

.file_name {
	font-size:10pt;
}

.file_format_img {
	width:30px;
	height:30px;
}

.file_close {
	float:right;
	width:30px;
	height:20px;
	font-size:10pt;
	cursor:pointer;
}

.open {
	display:block;
}