@charset "UTF-8";
#find-section {
	display: block;
	position: relative;
	width: 100%;
	text-align:center;
	margin-top:10%;
	right:5%;
}

#btn-group {
	width:60%;
	display:inline-block;
}

.search-Book {
	position:relative;
	width:48%;
	height:250px;
	background:#dfdfdf;
	border-radius:20px;
	font-size:2.5em;
	font-weight:bolder;
	border:0;
	outline:0;
	color:#868e96;
}

.search-Book:hover {
	cursor:pointer;
	background:#6610f2;
	color:#fff;
	transition: 0.5s ease all;
	transform: translate3D(0,-15%, 0);
}


#registerBookSearch {
	float:left;
	margin-right:1%;
}

#newBookSearch {
	float:right;
	margin-left:1%;
}