@charset "UTF-8";
.image{
	position:relative;	
}

.idico{
   color:red;
}
.pwico{
	color:red;
}
.mailico{
	color:red;
}
.numico{
	color:red;
}
.nameico{
	color:red;
}
.rnoico{
	color:red;
}
.genderico{
	color:red;
}
.phoneico{
	color:red;
}
hr{
   border:1px solid black;
}
#signtitle{
	margin-left:30%;
}
input{
   width:350px;
   height:44px;
}
#check{
   width:120px;
   height:40px;
   border-radius:15px;
   background:#9400D3;
   color:white;
   font-weight:bold;
}
#chkNum_btn{
	width:120px;
	height:40px;
	border-radius:15px;
	background:#9400D3;
	color:white;
	font-weight:bold;
}
#submit_email{
   width:120px;
   height:40px;
   border-radius:15px;
   background:#9400D3;
   color:white;
   font-weight:bold;
}
#sign{
   width:150px;
   height:44px;
   margin-left:17%;
   border-radius:15px;
   background:#9400D3;
   color:white;
   font-weight:bold;
}
#unum1{
   width:170px;
   height:30px;
}
#unum2{
   width:170px;
   height:30px;
}
#signupform{
	margin-left:10%;
}
img{
	width:1900px;
	height:300px;	
}