@charset "UTF-8";
.img{
	position:relative;	
}
.img .content{
	 position: absolute;
     top:50%;
     left:50%;
     transform: translate(-50%, -50%);                                                                   
     font-size:30rem;
     color: white;
     z-index: 2;
     text-align: center;
     font-weight:bold;
	
}
.idico{
   color:red;
   margin:40px 10px 10px;
   /* 30px 5px 10px 10px; */
/*    transform: translate(-50%, -50%);                                                                     
 */
}

.pwico{
	color:red;
   margin: 5px 7px 5px ;
  	/* 5px 7px 5px */
/*    	transform: translate(-50%, -50%); 
 */}
.mailico{
	color:red;
   margin:50px 10px 10px;
}

.nameico{
	color:red;
   	margin:40px 10px 10px;
/*    	transform: translate(-50%, -50%); 
 */
}
.rnoico{
	color:red;
   	margin:40px 10px 10px;
/*    	transform: translate(-50%, -50%); 
 */
}
.genderico{
	color:red;
   	margin:40px 10px 10px;
/*    	transform: translate(-50%, -50%); 
 */}
.phoneico{
	color:red;
   	margin:5px 1px 1px 5px;
	
  /*  	margin:5px 1px 1px 5px;
   	transform: translate(-50%, -50%);  */
}
hr{
   border:1px solid black;
}
#signtitle{
	margin-left:30%;
}
input{
   width:350px;
   height:44px;
}
#check{
   width:120px;
   height:40px;
   border-radius:15px;
   background:#9400D3;
   color:white;
   font-weight:bold;
}
#chkNum_btn{
	width:120px;
	height:40px;
	border-radius:15px;
	background:#9400D3;
	color:white;
	font-weight:bold;
}
#submit_email{
   width:120px;
   height:40px;
   border-radius:15px;
   background:#9400D3;
   color:white;
   font-weight:bold;
}
#sign{
   width:150px;
   height:44px;
   margin-left:17%;
   border-radius:15px;
   background:#9400D3;
   color:white;
   font-weight:bold;
}
#unum1{
   width:170px;
   height:30px;
}
#unum2{
   width:170px;
   height:30px;
}
#signupform{
	margin-left:10%;
}
img{
	width:1900px;
	height:300px;	
}