<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.studdype.test.model.dto.board.BoardDto" alias="boardDto"/>
  		<typeAlias type="com.studdype.test.model.dto.board.MeetDto" alias="meetDto"/>
  		<typeAlias type="com.studdype.test.model.dto.board.VoteDto" alias="voteDto"/>
  		<typeAlias type="com.studdype.test.model.dto.member.MemberDto" alias="memberDto"/>
  		<typeAlias type="com.studdype.test.model.dto.study.StudyDto" alias="studyDto"/>
  
  	</typeAliases>
  
  
  
  </configuration>