<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.studdype.test.model.dto.board.BoardDto" alias="boardDto"/>
  		<typeAlias type="com.studdype.test.model.dto.board.MeetDto" alias="meetDto"/>
  		<typeAlias type="com.studdype.test.model.dto.board.VoteDto" alias="voteDto"/>
  		<typeAlias type="com.studdype.test.model.dto.member.MemberDto" alias="memberDto"/>
  		<typeAlias type="com.studdype.test.model.dto.study.StudyDto" alias="studyDto"/>
      	<typeAlias type="com.studdype.test.model.dto.location.LocationSiDto" alias="locationSiDto"/>
  		<typeAlias type="com.studdype.test.model.dto.location.LocationGuDto" alias="locationGuDto"/>
  		<typeAlias type="com.studdype.test.model.dto.study.StudyCategoryDto" alias="studyCategoryDto"/>
  		<typeAlias type="com.studdype.test.model.dto.board.ReplyDto" alias="replyDto"/>
		<typeAlias type="com.studdype.test.model.dto.board.FileDto" alias="fileDto"/>
		<typeAlias type="com.studdype.test.model.dto.board.BookDto" alias="bookDto"/>
		<typeAlias type="com.studdype.test.model.dto.study.StudyMemberDto" alias="studyMemberDto"/>
		<typeAlias type="com.studdype.test.model.dto.study.StudyApplyingDto" alias="StudyApplyingDto"/>
		<typeAlias type="com.studdype.test.common.SearchPagination" alias="searchPagination" />
      </typeAliases>
  
  	  		
  	<mappers>
  	  	<mapper resource="./mybatis/Board/freeBoard-mapper.xml"/>
    	<mapper resource="./mybatis/Member/member-mapper.xml"/>
	  	<mapper resource="./mybatis/Study/study-mapper.xml"/>
     	<mapper resource="./mybatis/Location/locationSi-mapper.xml"/>
	  	<mapper resource="./mybatis/Location/locationGu-mapper.xml"/>
	  	<mapper resource="./mybatis/Category/category-mapper.xml"/>
		<mapper resource="./mybatis/Board/meetBoard-mapper.xml"/>
      	<mapper resource="./mybatis/File/file-mapper.xml"/>
		<mapper resource="mybatis/reply/freeReply-mapper.xml"/>
		<mapper resource="./mybatis/reply/meetReply-mapper.xml"/>
		<mapper resource="./mybatis/Board/book-mapper.xml"/>
		<mapper resource="./mybatis/Study/studyMember-mapper.xml"/>
	
		

		<mapper resource="./mybatis/File/photoFile-mapper.xml" />
		<mapper resource="./mybatis/Board/photoBoard-mapper.xml" />
		<mapper resource="./mybatis/Study/studyApplying-mapper.xml"/>
		<mapper resource="./mybatis/File/freeFile-mapper.xml"/>
		<mapper resource="./mybatis/File/noticeFile-mapper.xml"/>
		<mapper resource="./mybatis/Board/noticeBoard-mapper.xml"/>
		<mapper resource="./mybatis/reply/noticeReply-mapper.xml"/>

  	</mappers>  
  
  
  </configuration>