<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="study">
	<resultMap type="StudyDto" id="studyMap">
		<result property="s_no" column="S_NO" />
		<result property="leader_no" column="LEADER_NO" />
		<result property="s_name" column="S_NAME" />
		<result property="s_info" column="S_INFO" />
		<result property="s_content" column="S_CONTENT" />
		<result property="photo" column="S_PHOTO" />
		<result property="cate_no" column="CATE_NO" />
		<result property="si_no" column="SI_NO" />
		<result property="gu_no" column="GU_NO" />
		<result property="s_maxcnt" column="S_MAXCNT" />
		<result property="s_currentcnt" column="S_CURRENTCNT" />
	</resultMap>


	<select id="studyList" resultMap="studyMap" parameterType="searchPagination">
      SELECT S_NO, LEADER_NO, S_NAME, S_INFO, S_CONTENT, S_PHOTO, CATE_NO, SI_NO, GU_NO, S_MAXCNT, S_CURRENTCNT
      FROM (
      				SELECT ROW_NUMBER() OVER(ORDER BY S_NO DESC) AS RNUM, S_NO, LEADER_NO, S_NAME, S_INFO, S_CONTENT, S_PHOTO, CATE_NO, SI_NO, GU_NO, S_MAXCNT, S_CURRENTCNT
      				FROM STUDY
      				WHERE 1=1
      				<include refid="search"></include>
      				)
      WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
	</select>
	
	<sql id="search">
			<if test="keyword != null">AND S_NAME LIKE '%' || #{keyword} || '%'</if>
	</sql>

	<select id="studyListCategory" resultMap="studyMap" parameterType="searchPagination">
		      SELECT S_NO, LEADER_NO, S_NAME, S_INFO, S_CONTENT, S_PHOTO, CATE_NO, SI_NO, GU_NO, S_MAXCNT, S_CURRENTCNT
      FROM (
      				SELECT ROW_NUMBER() OVER(ORDER BY S_NO DESC) AS RNUM, S_NO, LEADER_NO, S_NAME, S_INFO, S_CONTENT, S_PHOTO, CATE_NO, SI_NO, GU_NO, S_MAXCNT, S_CURRENTCNT
      				FROM STUDY
      				WHERE CATE_NO = #{cate_no}
      				)
      WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
	</select>
	<!-- SELECT S_NO, LEADER_NO, S_NAME, S_INFO, S_CONTENT, S_PHOTO, CATE_NO, SI_NO, GU_NO, S_MAXCNT, S_CURRENTCNT
      FROM (
      				SELECT ROW_NUMBER() OVER(ORDER BY S_NO DESC) AS RNUM, S_NO, LEADER_NO, S_NAME, S_INFO, S_CONTENT, S_PHOTO, CATE_NO, SI_NO, GU_NO, S_MAXCNT, S_CURRENTCNT
      				FROM STUDY
      				WHERE SI_NO = #{si_no} AND GU_NO=#{gu_no}
      				)
	</select> -->
	
	<sql id="locationSearch">
		<if test="searchType eq 'si'">
			WHERE SI_NO = #{si_no} 
		</if>
		<if test="searchType eq 'gu'">
			WHERE SI_NO = #{si_no} 
			AND GU_NO = #{gu_no}
		</if>
		<if test="searchType eq 'all'">
			
		</if>
	</sql>
	
	<select id="studyListLocation" resultMap="studyMap" parameterType="searchPagination">
	  SELECT S_NO, LEADER_NO, S_NAME, S_INFO, S_CONTENT, S_PHOTO, CATE_NO, SI_NO, GU_NO, S_MAXCNT, S_CURRENTCNT
      FROM (
      				SELECT ROW_NUMBER() OVER(ORDER BY S_NO DESC) AS RNUM, S_NO, LEADER_NO, S_NAME, S_INFO, S_CONTENT, S_PHOTO, CATE_NO, SI_NO, GU_NO, S_MAXCNT, S_CURRENTCNT
      				FROM STUDY
      				<include refid="locationSearch"></include>
      		)
      WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
      </select>
      
      <select id="selectTotalStudyListNumByLocation" parameterType="searchPagination" resultType="_int">
      		SELECT COUNT(*)
      		FROM STUDY
      		<include refid="locationSearch"></include>
      </select>
      
      
	<!-- 총 게시글 수 -->

	<select id="selectTotalStudyListNum" resultType="int">
	      SELECT count(S_NO)
	      FROM STUDY
	      WHERE 1=1
	      <include refid="search"></include>
	      AND S_NO > 0
	</select>
	<select id="totalstudyNum" parameterType="int" resultType="_int">
		SELECT COUNT(*)
		FROM STUDY
		WHERE MEM_NO = ${mem_no}
	</select>

	<select id="selectOneBySno" parameterType="int" resultMap="studyMap">
		SELECT *
		FROM STUDY
		WHERE S_NO = #{s_no}
	</select>
	
	<insert id="insertStudy" parameterType="studyDto">
		INSERT INTO STUDY 
		VALUES(STUDYSEQ.NEXTVAL, #{leader_no} , #{s_name}, #{s_info}, #{s_content}, #{photo}, #{cate_no}, #{si_no}, #{gu_no}, #{s_maxcnt}, DEFAULT)
	</insert>
	
	<select id="selectStudyFinalNumber" resultType="int">
		SELECT S_NO
		FROM (SELECT ROWNUM, S_NO FROM STUDY WHERE ROWNUM <![CDATA[<]]> 2 ORDER BY S_NO DESC)
	</select>
	
	<select id="studyLeader" parameterType="int" resultType="studyDto">
		SELECT * FROM STUDY WHERE LEADER_NO = #{leader_no}
	</select>
	
	<update id="newLeader" parameterType="int" >
		UPDATE STUDY SET LEADER_NO = #{leader_no} WHERE S_NO = #{s_no}
	</update>

	<update id="newInfo" parameterType="studyDto">
		UPDATE STUDY SET S_INFO = #{s_info} , CATE_NO = #{cate_no}, SI_NO = #{si_no}, GU_NO =#{gu_no},
		S_MAXCNT = #{s_maxcnt}, S_NAME = #{s_name} , S_PHOTO = #{photo}  WHERE S_NO = ${s_no}
	</update>
	<update id="nomalStudyImg" parameterType="studyDto">
		UPDATE STUDY SET S_PHOTO = #{photo} WHERE S_NO = #{s_no}
	</update>
	
	<select id="selectStudyByCategory" parameterType="int" resultType="studyDto">
		SELECT * FROM STUDY WHERE CATE_NO = #{cate_no}
	</select>

	<select id="selectStudyName" parameterType="int" resultType="string">
		SELECT S_NAME FROM STUDY WHERE S_NO = #{s_no}
	</select>
	

		<select id="selectOneSi" parameterType="int" resultMap="studyMap">
		SELECT * FROM STUDY WHERE SI_NO = #{si_no}AND GU_NO=#{gu_no}
		</select>
		
</mapper>