<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="freereply">
  	<resultMap type="replyDto" id="replyMap">
  		<result property="r_no" column="R_NO"></result>
  		<result property="b_no" column="B_NO"></result>
  		<result property="r_groupno" column="R_GroupNO"></result>
  		<result property="r_class" column="R_Class"></result>
  		<result property="order" column="ORDER"></result>
  		<result property="r_writer" column="R_WRITER"></result>
  		<result property="r_comment" column="R_COMMENT"></result>
  		<result property="r_regdate" column="R_REGDATE"></result>
  	</resultMap>
  
  
  
  
  </mapper>