<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="meetboard">
	<resultMap type="meetDto" id="meetMap">
		<result property="meet_no" column="MEET_NO"></result>
		<result property="s_no" column="S_NO"></result>
		<result property="meet_title" column="MEET_TITLE"></result>
		<result property="meet_writer" column="MEET_WRITER"></result>
		<result property="meet_addr" column="MEET_ADDR"></result>
		<result property="meet_date" column="MEET_DATE"></result>
		<result property="meet_time" column="MEET_TIME"></result>
		<result property="meet_regdate" column="MEET_REGDATE"></result>
		<result property="vote_startdate" column="VOTE_STARTDATE"></result>
		<result property="vote_enddate" column="VOTE_ENDDATE"></result>
	</resultMap>
  </mapper>