/*Header*/

.feature-page.header-area {
	background-image: url(../../assets/img/features/gam.png);
	background-size: 100% 100%;
	
}

/*Footer*/

.footer-menu {
	position: relative;
	width: 100%;
	float: right;
	z-index: 3;
	text-align: center;
}

