
.main-section {
  float: right;
  display: inline-block;
  margin-right: 5%;
  margin-top: 3%;
  width: 73%;
 
  border: 1px solid rgb(115, 98, 222); 
  border-radius: 10px;
}



#photo-zone{
	display: block;
	position: relative;
	top: 10px;
	right: -300px;
	width: 300px;
	border: 3px solid rgb(115, 98, 222);
 	border-radius: 10px;
 	clear: both;
}