@charset "UTF-8";
.main-section{
	width: 40%;	
	display: inline-block;
	float: right;
	display: inline-block;
	margin-right: 5%;
	margin-top: 3%;
}

.main-section.left{
	float: left;
	margin-left: 30%;
}

/* info창 전체 div */
#studyRightInfo{
	display: inline-block;
	margin-right: 10%;
	margin-top: 3%;
	width: 15%;
	height: auto;
	float: right;
} 

#studyRightInfo.fixed {
	position: fixed;
	top: 50px;
	margin-left: 75%;
}

#studyInfo{
	border: 1px solid;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 75%; 
	background: #dfdfdf;
	box-shadow: 0 0 28px 8px #ddd;
	overflow: auto;	
	height: auto; 
	float: right;
	padding: 0 20px 10px 20px;  
}

#studyImg{
	display: inline-block;
	width: 100%;
	height: 100%;
	text-align: center;
	overflow: hidden;
	border-bottom: 3px double gray;
}

#studyImg img{
	width: 100%; 
}

#studyLocation,
#studyMember,
#studyCategory{
	width: 100%;
	text-align: center;
	font-weight: bold;
	color: #707078;
	background-color: #f0f0f0;
	border-radius: 0.5em;	
	margin-left: 20px;
	margin-top: 10px;
	padding: 1.5% 3%;
}

#studyLeader{
	width: 100%;
	text-align: center;
	font-weight: bold;
	color: #707078;
	background-color: #f0f0f0;
	border-radius: 0.5em;	
	margin-left: 20px;
	margin-top: 10px;
	padding: 1.5% 3%;
}

#studyLocation{
	width: 100%;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	color: #707078;
	background-color: #f0f0f0;
	border-radius: 0.5em;	
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 30px;
	padding: 1.5% 3%;
}

#studyNotice{
	width: 100%;
	font-size: 14px;
	font-weight: bold;
	color: red;
	background-color: #ffa8a8;
	border-radius: 0.5em;	
	margin-top: 10px;
	margin-left: 20px;
	padding: 3% 3% 2% 4%;
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
	text-align: center;
}

#studyNotice img{
	float: left;
	margin-right: 3%;
	width: 23px;
}

#studyLocation img,
#studyLeader img,
#studyCategory img,
#studyMember img{
	float: left;
	margin: 0.3% 2% 2% 1.5%;
	width: 20px;
}

#studyTitle{
	width: 100%;
	/*border: 5px groove;*/	
	margin-left: 20px;
	margin-top: 10px;
	padding: 1%;
	font-size: 35px;
	text-align: center; 
	margin-bottom: 30px;
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}

div#studyOneLineIntro{
	width: 100%;
	height: auto;
	border-bottom: 3px double gray;
	font-size: 30px;
	text-align: center;
	color: #625F5F;
	padding: 3% 0;
}

#studyGif{
	position: relative;
	top: -70px;
	border: 5px groove;
	width: 30%;
	margin: 0;
}

span#studyOneLineIntro{
	position: relative;
	top: -25px;
	padding-left: 3%;
	font-size: 150%;
	font-weight: bold;
}

.quote{
	width: 10px;
	padding-bottom: 23px;
}

#subMain{
	width: 100%;
	background-color: #f0f0f0;
	padding: 5%;
}

#studyContent{
	background-color: #fff;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	font-size: 20px;
	margin-bottom: 10%;
	padding: 2%;
	border-radius: 0.5em;
}

#content{
	background-color: #fff;
	border: 1px solid black;
	width: 190px;
	font-size: 20px;
	text-align: center;
	color: black;
	padding: 1.5% 2.5%;
	border-radius: 2em;
	margin-bottom: 3%;
	margin-top: 3%;
}

#bookContent{
	display: flex;
	height: 450px;
}

#bookContentLeft{
	width: 38%;
	display: inline-block;
	background-color: #f0f0f0;
	border-radius: 0.5em;
	overflow: hidden;
	padding-top: 10%;
}

#bookImg img{
	width: 100%;
}

#bookContentRight{
	width: 65%;
	display: inline-block;
	background-color: #fff;
	border-radius: 0.5em;
	overflow: hidden;
	padding: 2%;
	height: 100%;
	margin-left: 2%;
}

#bookTitle{
	font-size: 20px;
	font-weight: bold;
	width: 100%;
	padding-bottom: 1%;
	border-bottom: 2px solid gray;
	margin-bottom: 2.5%;
	text-align: center;
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}

#bookInfo{
	display: flex;
	width: 100%;
}

#bookInfoLeft{
	display: inline-block;
	width: 20%;
	float: left;
	margin-right: 0.5%;
	border-right: 2px solid gray;
}

#bookInfoRight{
	display: inline-block;
	width: 78%;
	float: right;
	margin-left: 1.5%;
}

#link{
	width: 20px;
}

#bookExplan{
	border-top: 2px solid gray;
	height: 230px;
	padding: 0 1%;
}

#bookHR{
	margin: 0 9px 0 0;
	border-top: 2px solid gray;
}