<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="meetboard">
		
		<!-- 모임 게시글 총 개수 -->		
		<select id="totalMeetBoardNum" parameterType="int"	resultType="_int">
			SELECT COUNT(*)
			FROM MEET_BOARD
			WHERE S_NO = #{s_no}
		</select>
		
		<!-- paging -->
		<select id="pagingMeetBoardList" parameterType="hashMap" resultType="meetDto">
			<![CDATA[
				SELECT MEET_NO, MEET_REGDATE, MEET_ADDR, MEET_ADDR_DETAIL, MEET_TITLE, MEET_WRITER, VOTE_STARTDATE, VOTE_ENDDATE
				FROM
				(
					SELECT ROWNUM N, MEET_NO, MEET_REGDATE, MEET_ADDR, MEET_ADDR_DETAIL, MEET_TITLE, MEET_WRITER, VOTE_STARTDATE, VOTE_ENDDATE
					FROM MEET_BOARD
					WHERE S_NO = #{studyno}
					ORDER BY MEET_NO DESC
				)
				WHERE N >= #{startRow} AND N <= #{endRow}
			]]>
		</select>
		
		<!-- 모임 게시판 디테일 -->
		<select id="meetBoardSelectOne" parameterType="int" resultType="meetDto">
			SELECT * 
			FROM MEET_BOARD
			WHERE MEET_NO = #{meet_no}
		</select>
	
		<!-- 모임 게시판 조회수 -->
		<update id="updateMeetCnt" parameterType="int">
			UPDATE MEET_BOARD
			SET MEET_CNT = MEET_CNT + 1
			WHERE MEET_NO = #{meet_no}
		</update>
		
		<!-- 모임 생성 -->
		<insert id="insertMeetBoard" parameterType="meetDto">
			INSERT INTO MEET_BOARD
			VALUES( MEETBOARDSEQ.NEXTVAL, #{s_no}, #{meet_title}, #{meet_writer},  #{meet_content}, #{meet_addr}, #{meet_addr_detail},
			TO_DATE(#{meet_date},'YYYY-MM-DD'),TO_TIMESTAMP(#{meet_time},'HH24:mi'),SYSDATE,TO_DATE(#{vote_startdate},'YYYY-MM-DD'),TO_DATE(#{vote_enddate},'YYYY-MM-DD'), DEFAULT )
		</insert>
	
	</mapper>